.logearse body{
	margin:0;
	font:600 16px/18px 'Trebuchet MS', Helvetica, sans-serif;

}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.conteLog{
	width:100vh;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(../img/pokebola.jpg);

  background-size: cover;
	opacity: 0.9;


}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;

}
.closebtn{
	position: absolute;
	margin-left: 85%;
	margin-top: 0;
	text-align: center;
	border-bottom: #0080FF 2px solid;
	padding: 5px;
	font-size: 1.1em;
	color: #000000;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .grupo .check{
	display:none;
}
.login-html .tab,
.login-form .grupo .label,
.login-form .grupo .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:1.5em;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#FFFFFF;
	border-color:#FFBF00;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .grupo{
	margin-bottom:5px;
}
.login-form .grupo .label,
.login-form .grupo .input,
.login-form .grupo .button{
	width:100%;
	color:#FFFFFF;
	display:block;
  font-size: 1em;
}
.login-form .grupo .input,
.login-form .grupo .button{
	border:none;
	padding:15px 20px;
	border-radius:15px;
	background:rgba(213,216,220,.6);
}
.login-form .grupo input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .grupo .label{
	color:#FFFFFF;
	font-size:13px;
}
.login-form .grupo .button{
	background:#0489B1;
  color:#000000;
}
.login-form .grupo label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.9);
}
.login-form .grupo label .icon:before,
.login-form .grupo label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .grupo label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .grupo label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .grupo .check:checked + label{
	color:#fff;
}
.login-form .grupo .check:checked + label .icon{
	background:#1161ee;
}
.login-form .grupo .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .grupo .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(214,196,15,.3);

}
.pie{
	text-align:center;
   padding-top: 30px;

}
.pie a{
  color: #013ADF;

}
