<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="pokemon">
    	<p><img id="imgTitle" src="images/title.png"/></p>

        <div id="imgDiv">
          <img id="pokeball" src="images/loading.gif" />
        </div>

        <select id="s" class="js-example-basic-single" name="state"></select>
        <button id="btnBuscar" class="btn btn-primary">Buscar</button>

        <div id="info">...</div>

        <span  id="btnUsuario"></span>
    </div>

</body>
</html>